<!-- begin::Row-->
<div class="row g-5 g-xl-8">
    <div class="col-xl-6">
        <div class="card card-xl-stretch mb-xl-8">
            <div class="card-header border-0 pt-5">
                <!-- begin::Title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">Turnover</span>

                    <span class="text-muted fw-bold fs-7">To see more informations use the filter in the right top button of this card</span>
                </h3>
                <!-- end::Title-->

                <!-- begin::Toolbar-->
                <div class="card-toolbar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class=" nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1 "
                               data-bs-toggle="tab"
                               [ngClass]="activeClass('monthly')"
                               (click)="setTab('monthly')"
                            >
                                Monthly
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link btn btn-sm btn-color-muted btn-active btn-active-light-primary fw-bolder px-4 me-1 "
                               [ngClass]="activeClass('daily')"
                               (click)="setTab('daily')"
                               data-bs-toggle="tab"
                            >
                                Daily
                            </a>
                        </li>
                    </ul>
                    <!-- end::Menu-->
                </div>
                <!-- end::Toolbar-->
            </div>
            <!-- end::Header-->

            <!-- begin::Body-->
            <div class="card-body">
                <!-- begin::Chart-->
                <div #chartRef id="kt_charts_widget_1_chart" [style.height]="'350px'">
                    <apx-chart
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [xaxis]="chartOptions.xaxis"
                            [yaxis]="chartOptions.yaxis"
                            [dataLabels]="chartOptions.dataLabels"
                            [stroke]="chartOptions.stroke"
                            [legend]="chartOptions.legend"
                            [fill]="chartOptions.fill"
                            [states]="chartOptions.states"
                            [tooltip]="chartOptions.tooltip"
                            [colors]="chartOptions.colors"
                            [markers]="chartOptions.markers"
                            [plotOptions]="chartOptions.plotOptions"
                    ></apx-chart>
                </div>
                <!-- end::Chart-->
            </div>

        </div>
    </div>
    <div class="col-xl-6">
    </div>
</div>
<!-- end::Row-->