<div class="card mb-5 mb-xl-8">
    <!-- begin::Body -->
    <div class="card-body py-3">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="refreshDatatable()"
                   class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                <!-- Colonne ID -->
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation date</th>
                    <td mat-cell *matCellDef="let row"> {{ row.createdAt }}</td>
                </ng-container>

                <!-- Colonne Name -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
                    <td mat-cell *matCellDef="let row"> {{ row.name }}</td>
                </ng-container>

                <!-- Colonne Name -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                    <td mat-cell *matCellDef="let row"> {{ row.email }}</td>
                </ng-container>

                <!-- Colonne Name -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="d-flex justify-content-start flex-shrink-0">
                            <button (click)="edit(row)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 kt_staff_form_toggle">
                                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                                      class="svg-icon svg-icon-3"></span>
                            </button>
                            <a href="#" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                                      class="svg-icon svg-icon-3"></span>
                            </a>
                        </div>
                    </td>
                </ng-container>

                <!-- Ajoutez d'autres colonnes ici -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="fw-bolder text-muted"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!--            <div class="d-flex flex-stack flex-wrap pt-10">-->
            <!--                <div class="fs-6 fw-bold text-gray-700">Showing 1 to 10 of 50 entries</div>-->

            <!--                <ul class="pagination">-->
            <!--                    <li class="page-item previous">-->
            <!--                        <a class="page-link cursor-pointer">-->
            <!--                            <i class="previous"></i>-->
            <!--                        </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item active">-->
            <!--                        <a class="page-link cursor-pointer"> 1 </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link cursor-pointer"> 2 </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link cursor-pointer"> 3 </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link cursor-pointer"> 4 </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link cursor-pointer"> 5 </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link cursor-pointer"> 6 </a>-->
            <!--                    </li>-->

            <!--                    <li class="page-item next">-->
            <!--                        <a class="page-link cursor-pointer">-->
            <!--                            <i class="next"></i>-->
            <!--                        </a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->


            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
        </div>
    </div>
    <!-- begin::Body -->
</div>