<div [ngClass]="footerContainerCssClasses" class="d-flex flex-column flex-md-row flex-stack">
  <!-- begin::Copyright  -->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted fw-bold me-2">{{ currentDateStr }} &copy;</span>
    <a class="text-gray-800 text-hover-primary cursor-pointer"> m1p11-DL </a>
  </div>
  <!-- end::Copyright  -->

  <!-- begin::Nav  -->
  <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
    <li class="menu-item">
        <div class="d-flex align-items-center">
            <div class="d-flex justify-content-start flex-column">
                <span class="text-muted fw-bold text-muted d-block fs-7">
                    ANDRIANIRIJA RAVALISON Lafatra Misaotra Ny Avo
                </span>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  ANDRIANOELINA Dera
                </span>
            </div>
        </div>
    </li>
  </ul>
  <!-- end::Nav  -->
</div>
