<div
        id="kt_service_form"
        class="bg-body"
        data-kt-drawer="true"
        data-kt-drawer-name="service-form"
        data-kt-drawer-activate="true"
        data-kt-drawer-overlay="true"
        data-kt-drawer-width="{default:'300px', 'lg': '500px'}"
        data-kt-drawer-direction="end"
        data-kt-drawer-toggle="#kt_service_form_toggle"
        data-kt-drawer-close="#kt_service_form_close"
>
    <div class="card shadow-none rounded-0 w-100">
        <div class="card-header" id="kt_activities_header">
            <h3 class="card-title fw-bolder text-dark">Add a service</h3>
            <div class="card-toolbar">
                <button
                        type="button"
                        class="btn btn-sm btn-icon btn-active-light-primary me-n5"
                        id="kt_service_form_close"
                >
                    <span
                            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'"
                            class="svg-icon svg-icon-1"
                    ></span>
                </button>
            </div>
        </div>
        <div class="card-body position-relative" id="kt_service_form_body">
            <div
                    id="kt_service_form_scroll"
                    class="position-relative scroll-y me-n5 pe-5"
                    data-kt-scroll="true"
                    data-kt-scroll-height="auto"
                    data-kt-scroll-wrappers="#kt_service_form_body"
                    data-kt-scroll-dependencies="#kt_service_form_header, #kt_service_form_footer"
                    data-kt-scroll-offset="5px"
            >
                <form novalidate="" class="form">
                    <div class="card-body border-top p-9">
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
                            <div class="col-lg-8">
                                <div
                                        class="image-input image-input-outline"
                                        data-kt-image-input="true"
                                        [style.background-image]="'url(./assets/media/avatars/blank.png'"
                                >
                                    <div
                                            class="image-input-wrapper w-125px h-125px"
                                            [style.background-image]="
                                          'url(./assets/media/avatars/300-1.jpg'
                                        "
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Last Name</label>
                            <div class="col-lg-8">
                                <input
                                        type="text"
                                        class="form-control form-control-lg form-control-solid"
                                        placeholder="Last name"
                                        name="lName"
                                        value="Smith"
                                />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">First Name</label>
                            <div class="col-lg-8">
                                <input
                                        type="text"
                                        class="
                                        form-control form-control-lg form-control-solid
                                        mb-3 mb-lg-0
                                    "
                                        placeholder="First name"
                                        name="fName"
                                        value="Max"
                                />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span class="required">Email</span>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input
                                        type="tel"
                                        class="form-control form-control-lg form-control-solid"
                                        placeholder="Phone number"
                                        name="contactPhone"
                                        value="044 3276 454 935"
                                />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span class="required">Contact Phone</span>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input
                                        type="tel"
                                        class="form-control form-control-lg form-control-solid"
                                        placeholder="Phone number"
                                        name="contactPhone"
                                        value="044 3276 454 935"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button
                                type="button"
                                class="btn btn-primary"
                                [disabled]="isLoading"
                                (click)="saveSettings()"
                        >
                            <ng-container *ngIf="!isLoading">Save Changes</ng-container>
                            <ng-container *ngIf="isLoading">
                                <span clas="indicator-progress" [style.display]="'block'">
                                  Please wait...{{ " " }}
                                    <span
                                            class="spinner-border spinner-border-sm align-middle ms-2"
                                    ></span>
                                </span>
                            </ng-container>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
