<div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch"
     id="#kt_header_menu" data-kt-menu="true">

    <!-- Dashboard -->
    <div class="menu-item me-lg-1" routerLinkActive="active">
        <a class="menu-link py-3" routerLinkActive="active" routerLink="/staff/dashboard">
          <span class="menu-title" data-link="/staff/dashboard">
            Home
          </span>
        </a>
    </div>

    <!-- Dashboard -->
    <div class="menu-item me-lg-1" routerLinkActive="active">
        <a class="menu-link py-3" routerLinkActive="active" routerLink="/staff/appointment">
          <span class="menu-title" data-link="/apps/tickets-system/main">
            All questions
          </span>
        </a>
    </div>

</div>